<div class="wrapper-detail">
            <div class="navigation-detail wrap set-nav">
                <ul>
                    <li>
                        <a href="#">Info</a>
                    </li>
                    <li>
                        <a href="#">Shipping</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper-shop">
            <div class="header wrap set-nav row">
                <div class="header-logo col-4 px-0">
                    <a href="index.html">
                        <img src="./assets/img/logo.png" alt="">
                    </a>

                    <span>Dé online bierhandelaar</span>
                </div>
                <div class="header-icon col-4">
                    <img src="./assets/img/beers.svg" alt="">
                </div>
                <div class="webshop-header col-4">
                    <input type="search" name="" id="">
                    <div class="cart">
                        <img src="./assets/img/cart.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-nav">
            <div class="navigation wrap set-nav">
                <ul>
                    <li>
                        <a href="products.html">products</a>
                    </li>
                    <li>
                        <a href="belgium.html">belgium</a>
                    </li>
                    <li>
                        <a href="international.html ">international</a>
                    </li>
                    <li>
                        <a href="about.html">about us</a>
                    </li>
                    <li>
                        <a href="faq.html">faq</a>
                    </li>
                    <li>
                        <a href="arrival.html">new arrivals</a>
                    </li>
                    <li>
                        <a href="news.html">news</a>
                    </li>
                    <li>
                        <a href="#">login</a>
                    </li>

                </ul>
            </div>
        </div>
       