* {
  font-family: "Rubik", sans-serif;
}

.grid-x.grid-margin-x {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  justify-content: center;

}

.front-page .grid-x.grid-margin-x {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 15px;
  justify-content: center;

}



.grid-x.grid-margin-x nav {
  width: 100%;
}

.info-pages #block-craftbeers-content,
.news-page #block-craftbeers-content {
  /* margin-top: 88px; */
  padding: 70px 15px;

}

.front-page #block-craftbeers-content {
  margin-bottom: 50px;
}

/* .info-pages .grid-x.grid-margin-x {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  justify-content: center;

} */

.pos-block {
  height: 156px;
  width: 100%;
}

@media (min-width: 992px) {
  .pos-block {
    height: 226px;
    width: 100%;
  }

  .front-page .grid-x.grid-margin-x {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 15px;
    justify-content: flex-start;

  }
}



/* SIDEBAR PRODUCT PAGES */


.mobile-menu {
  height: 100%;

}

.mobile-menu ul {
  -ms-flex-direction: column;
  flex-direction: column;
}

/* PRODUCT PAGE PAGER BUTTON */
.js-pager__items {
  text-align: right;
  list-style-type: none;
}






/* STYLING MENU  */
#block-craftbeers-main-menu--2 {
  height: 100%;
}

#block-topnavigation {
  height: 100%;
}


/* STYLING CART COUNTER */

.cart-block--summary__count {
  background: #DC7828;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  align-items: center;
  border-radius: 200px;
  color: white;
  padding: 4px;
}

.cart-block--summary__count:hover {
  text-decoration: none;
  background-color: #ce7226;
}


.cart-block--link__expand:hover {
  text-decoration: none;
}


.modal {
  width: 387px;
  min-height: 400px;
  top: 156px;
  left: unset;
  right: 10%;
  bottom: unset;
  background: #FFFFFF;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.20);
  z-index: 20;
}


.cart-block--contents__inner {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.facet-item__value,
.facets-checkbox {
  cursor: pointer;
}


/* STYLE FACETS DROPDOWN */
.facets__mobile {
  display: flex;
  flex-wrap: wrap;
  height: 470px;
  justify-content: space-between;
  margin: 39px 0;
}

.facets__dropdown .block-facet--checkbox {
  width: 45%;
  padding: 0 15px;
}

.dropdown__wrapper {
  padding: 0 15px;
}


/* FACETS COLLAPSE REMOVE ON TABLET  */
.facets__web {
  display: none;
}

@media (min-width: 768px) {

  .facets__dropdown {
    display: none;
  }

  .facets__web {
    display: block;
  }

  /* #block-craftbeers-content {
    margin-top: 88px;
    padding: 70px 0;
    margin: 0 auto;

  } */

  /* .front-page #block-craftbeers-content {
    padding: 0;
  } */

  .hero-image__wrapper {
    position: relative;
    /* margin-top: 147px; */

  }

  #block-views-block-product-search-block-1-2 {
    max-width: 1260px;
    margin: 0 auto;
  }

}



@media (min-width: 992px) {


  .modal {
    width: 387px;
    min-height: 400px;
    top: 226px;
    left: unset;
    right: 10%;
    bottom: unset;
    background: #FFFFFF;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.20);
  }

  /* 
  #block-craftbeers-content {
    /* margin: 97px; 
    padding: 100px 0;
  

  } */

  .front-page #block-craftbeers-content {
    margin-bottom: 50px;
    /* padding: 100px 0; */
  }




  .info-pages #block-craftbeers-content {
    margin: 0 auto;
    padding: 70px 15px;
    min-height: 58vh;
    width: 100%;
  }

  .news-page #block-craftbeers-content {
    margin: 0 auto;
    padding: 100px 0;
    width: 100%;
  }


}

@media (min-width: 1200px) {
  .front-page .grid-x.grid-margin-x {
    /* float: left; */
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: flex-start;

  }

  .grid-x.grid-margin-x {
    /* float: left; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    justify-content: flex-start;

  }

}


/*  CART ITEMS  */
.cart table td {
  padding: 10px;
}

/* .cart table tr:hover {
  background-color: lightgrey;
} */


.cart table td:first-of-type {
  padding: 10px 50px 10px 10px;
}

.cart-block--contents__items {
  padding: 15px 0;
}

.cart .form-number {
  padding: 5px;
  text-align: center;
}

/* CART LINK IN MODAL */
.cart-block--contents__links {
  width: 90%;
  margin-top: 30px;
}

.cart-block--contents__links a {
  width: 100%;
  display: inline-block;
  align-items: center;
  text-align: center;
  background: #DC7828;
  border: 1px solid #DC7828;
  border-radius: 7px;
  font-size: 18px;
  color: #FFFFFF !important;
  letter-spacing: 0.53px;
  text-align: center;
  padding: 15px 0;
}

.cart-block--contents__links a:hover {
  text-decoration: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);

}




/* HOME HERO */


.hero-image__wrapper {
  position: relative;
}

.hero-image__wrapper img {
  width: 100%;
  height: 518px;
  object-fit: cover;
  object-position: right;
}


.hero-wrp {
  /* max-width: 1260px; */
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 15px;
}

.hero-text {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .hero-text {
    width: 50%;
    margin-bottom: 50px;
  }


  .hero-image__wrapper img {
    height: 400px;
  }

  .hero-wrp {
    /* max-width: 1260px; */
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .hero-wrp .wrap {
    width: 1260px;
  }
}








/* HOME */





/* .views-field-nothing{
  display: none;
} */

/* CART CHECKOUT AND CART */

.cart td,
.checkout-order-summary td {
  padding: 15px;
}

.cart a,
.checkout-order-summary a {
  color: #DC7828;
}



#edit-sidebar-coupon-redemption-form-code {
  margin: 5px 0 15px;
}

/* PAYMENT METHODE SECTION */

input, textarea{

  height: 46px;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: .15rem;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;

}

textarea{
  height: auto;
}


input:focus {
  border: 2px solid #DC7828;
  color: #DC7828;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

input:active {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

#edit-payment-information select {
  display: inline-block;
  height: 46px;
  font-weight: 400;
  line-height: 1.5;
  color: grey;
  vertical-align: middle;
  background: url(../icon/select.svg) no-repeat right 15px center/22px 22px;
  border: 2px solid #D8D8D8;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 10px;
  background-color: white;
  position: relative;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;

}

#edit-payment-information select:focus {
  border: 2px solid #DC7828;
  outline: none;
  color: #DC7828;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

#edit-payment-information select:active {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}


.form-submit {
  cursor: pointer
}

/* ORDER INFORMATION */
.checkout-pane-contact-information label,
.checkout-pane-payment-information label {
  width: 100px;
}

/* LAYOUT CHECKOUT FORM */

.js-form-type-email {
  margin-bottom: 0.9rem
}


/* 
  .layout-region-checkout-main .js-form-item{
    width: 60%;
    background-color: red;
  } */

.layout-region-checkout-main #edit-payment-information-payment-method--wrapper .js-form-type-radio .form-radio {
  width: 25px;
}

.layout-region-checkout-main {
  max-width: 700px;
}

.layout-region-checkout-main .js-form-item {
  width: 100%;
}

.layout-region-checkout-main input[type=text],
input[type=email], .form-tel, .form-text, .form-textarea {
  width: 100%;
}


.layout-region-checkout-secondary {
  margin-top: 50px;
}

@media (min-width: 768px) {
  /* 
  .layout-region-checkout-main .js-form-item{
    width: 60%;
    background-color: red;
  } */

  .layout-region-checkout-main {
    max-width: 700px;
  }

  .layout-region-checkout-main .js-form-item {
    width: 100%;
  }

  .layout-region-checkout-main input[type=text],
  input[type=email] {
    width: 100%;
  }

  .address-container-inline .js-form-item {
    width: 48%;
    /* display: flex; 
  justify-content: space-between; */
  }

  .address-container-inline {

    display: flex;
    justify-content: space-between;
  }

  .layout-region-checkout-secondary {
    position: sticky;
    top: 300px;

  }

  #edit-payment-information select {
    width: 82%;
  }



  .layout-region-checkout-secondary {
    margin-top: unset;
  }
}


.form-text {
  max-width: 100%;
}



#edit-payment-information-billing-information select {

  height: 46px;
  padding: 12px 20px;

}

.js-form-type-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.js-form-type-radio .form-radio {
  margin-right: 0.6rem;
}

.js-form-type-radio .option {
  margin-bottom: unset;
}

#edit-payment-information-billing-information label {
  margin-bottom: 0;
  margin-right: 1rem;

}

#edit-payment-information-billing-information .js-form-type-textfield {
  margin: 0 0 1rem;
  /* background-color: green; */
}

.layout-region-checkout-footer {
  margin-top: 20px;
}

/* EXTRA TEXT CHECKOUT */

#block-craftbeers-checkout-progress,
.status-cart {
  padding: 40px 15px 0;
}

.status-cart {
  font-size: 18px;
  color: red;
}



/* NEWS */

.news-page .field-content .news-image img {
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  height: 273px;
}

.news-page .field-content .news-wrapper {
  position: relative;
}

.news-tag {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.news-wrapper h4,
.news-wrapper p {
  color: black;
}

.news-wrapper h4 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.news-wrapper h4,
.news-wrapper p:hover {
  color: black;
  text-decoration: none;
}

@media (min-width: 768px) {

  .news-page .field-content .news-image img {
    width: 100%;
    height: 300px;
  }

  .news-page .field-content .news-wrapper {
    /* width: 390px; */
    margin: 20px 10px;
  }

}

@media (min-width: 992px) {

  /* .info-pages .field-content .news-image img {
    width: 390px;
    height: 300px;
  } */

  /* .info-pages .field-content .news-wrapper {
    width: 390px;
    margin: 20px 10px;
  } */


}

@media (min-width: 1200px) {
  .info-pages .grid-x.grid-margin-x {

    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    justify-content: end;


  }

  /* .info-pages .field-content .news-wrapper {
    width: 390px;
    margin: 30px 10px;
  } */

}

/* RESET */

a {
  color: black;

}

a:hover {
  color: black;

}

.link--previous {
  display: inline-block;
  padding: 5px 15px;
}

/* LOGIN */

.checkout-pane-login .form-item {
  margin-bottom: 1rem
}



/* NEWS DETAIL */

/* .paragraph--type--media {
  width: 50%;
} */

.paragraph--type--media img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: right;

}

.paragraph--type--text {
  margin: 30px 0;
}

.paragraph--type--media {
  text-align: center;
  margin: 20px 0;
}


@media (min-width: 768px) {

  .paragraph--type--media img {
    width: 80%;
    height: 330px;

  }

  .paragraph--type--text p {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .paragraph--type--media img {
    width: 100%;
    height: 500px;

  }

  .paragraph--type--text p {
    width: 100%;
  }



}

.article-wrapper {
  max-width: 750px;
  margin: 30px auto;
}

.article-wrapper h1 {
  margin: 50px 0;
}

.info-pages article {
  max-width: 750px;
  margin: 30px auto;
}


/* FIX SUBMIT  */

.searchBar input[type=submit] {
  display: none;
}

/* COOKIE */

.overlay {
  display: none;


}

.cookie-overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #DC7828;
  color: white;
  z-index: 50000;
  position: fixed;
  display: flex;
  /* display: none; */
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  overflow-y: unset;
  padding: 15px;

}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.cookie-btn {
  height: 46px;
  padding: 9px 25px;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.53px;
  text-align: center;
  margin: 0 20px 0 0;
  min-width: 76px;
}

.cookie-btn a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.53px;
  display: inline-block;
  height: 100%;
  width: 100%;

}

.cookie-btn:hover a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #DC7828;
  letter-spacing: 0.53px;
  text-align: center;
  text-decoration: none;

}

.cookie-btn:hover {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #DC7828;
  letter-spacing: 0.53px;
  text-align: center;
}

.cookie-txt {
  max-width: 640px;
  width: 100%;
}

.show-overlay {
  display: block;
}

.hide-overlay {
  display: none;
}



/* FOOTER NAV  */

#block-craftbeers-footer ul li {
  list-style-type: none;
  text-decoration: none;
  padding: 20px 0 0;
}


/*  FOOTER POSITION MOBILE TO DESKTOP */


@media (min-width: 768px) {

  .footer-black {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-black .social-media {
    text-align: left;
    height: 100%;
  }

  .footer-black .footer-info {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .footer-black .footer-menu {
    text-align: left;
  }

  .footer-black .footer-nix {
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: right;
  }

  .footer-black .footer-nix img {
    padding-bottom: 15px;
  }


  /* .footer-black .footer-nix p {
  margin: 0;
} */
  /* .social-icons {
  margin: 20px 0;
} */

  .footer-orange {
    padding: 60px 130px;
  }

  .footer-orange .webform-button--submit {
    width: 171px;
  }
}


/* PRODUCT DETAIL PAGE */
.button--add-to-cart {
  background-color: #DC7828;
  border: 1px solid #DC7828;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.47px;
  text-align: center;
}

/* .field--type-decimal{
  align-items: center;
  justify-content: center;
  display: flex;
} */

.detail-product__facets {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.detail-product__cart {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detail-product__cart form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-product__cart select {
  height: 46px;
  color: grey;
  border: 2px solid #D8D8D8;
  border-radius: .25rem;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  background-color: white;
  margin: 7px;
}

.detail-product__cart label {
  display: none;
}

.detail-product__cart form .js-form-item input[type=number] {
  width: 46px;
  height: 46px;
  padding: 12px 5px;
  text-align: center;
}


@media (min-width: 768px) {

  .detail-product__facets {
    width: 45%;
  }

}


.label__facets {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.48px;
  line-height: 20px;
}

.facet__filter {
  margin-bottom: .5rem;
}


.product-detail__pagina .product-section {
  margin: 0 auto;
}


@media (min-width: 992px) {
  .flex-this {
    display: flex;
  }

  .detail-product__information {
    margin-top: 100px;
  }

  .product-detail p {
    padding: 10px 0 40px 0;
    border-bottom: 1px solid #F1F1F1;
  }

  .pro-info {

    margin: 10px 0 60px;
    
  }
}
