  <div class="container-fluid">

    {% include directory ~ '/templates/menu/navigation.html.twig' %}

    <div class="appelen">
    {{ content.field_hero_img }}
      <p>
        {{ content.field_hero_text }}
      </p>
      <div class="discover-btn">
       {{ content.field_hero_link }}
      </div>
    </div>

 <div class="home-section wrap">
  <div class="home-view">
    {{ page.content }}
</div>
</div>
    <!-- -->

    {% include directory ~ '/templates/menu/footer.html.twig' %}

  </div>
