  <div class="container-fluid">

    {% include directory ~ '/templates/menu/navigation.html.twig' %}

    <div class="product-wrapper">
      <div class="wrap row no-gutters">
        <div class="sidebar col-md-2">

          {{ page.sidebar }}
        </div>

        <div class="product-section col-md-10">
          <div class="pro-view">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>



    {% include directory ~ '/templates/menu/footer.html.twig' %}

  </div>
