  <div class="container-fluid">

  {% include directory ~ '/templates/menu/navigation.html.twig' %}

  <div >
  <div class="col-md-3">
  x
{{ page.sidebar_first }}
  </div>
<div class="col-md-9">
{{ page.content }}  
</div>

  </div>      
  {% include directory ~ '/templates/menu/footer.html.twig' %}

</div>