  <div class="container-fluid">

  {% include directory ~ '/templates/menu/navigation.html.twig' %}

   <div class="hero-image">
            <p>
                Pilsner Urquell Christmas edition
                Nu verkrijgbaar bij Craftbeers. 
            </p>
            <div class="discover-btn">
                <a href="">Ontdek hem nu</a>
            </div>
        </div>

        <!-- -->
{{ page.appels }}
  {% include directory ~ '/templates/menu/footer.html.twig' %}

</div>