<!-- PRODUCT DETAIL PAGE -->
  <div class="container-fluid">

    {% include directory ~ '/templates/menu/navigation.html.twig' %}
<div class="pos-block"></div> 
    <div class="product-wrapper" style="background-color:white">
      <div class="wrap row no-gutters">
       

        <div class="product-section  col-md-9 col-lg-10">
          <div class="pro-view">
            {{ page.content }}
          </div>
        </div>

      </div>
    </div>

    {% include directory ~ '/templates/menu/footer.html.twig' %}

  </div>
